<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


    </style>


</head>
<body>
            <div class="row">
                <div class="col-sm-12">
                    <div class="tab-content">
                        <div role="tabpanel" id="overview" class="tab-pane active">
                            <div class="overview_tab">
                                <div class="well clearfix">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label >Days

                                            </label>
                                            <select class="form-control">
                                                <option value="--">--Select--</option>
                                                <option value="Current week">Current week</option>
                                                <option value="Yesterday">Yesterday</option>
                                                <option value="Last 5 days">Last 5 days</option>
                                            </select>

                                        </div>
                                        <div class="form-group">
                                            <label>From</label>
                                            <input type="date" id="from_date" class="form-control">

                                        </div>
                                        <div class="form-group">
                                            <label>To</label>
                                            <input type="date" id="to_date" class="form-control">
                                        </div>
                                        <input type="checkbox" id="include_holidays" value="1">
                                    </form>

                                </div>
                                <ul role="tablist" class="nav nav-tabs">
                                    <li role="presentation" class="active">
                                        <a href="#3" aria-controls="home" role="tab" data-toggle="tab" class="resource_group_tab">Doctors</a>

                                    </li>
                                    <li role="presentation">
                                        <a href="#4" aria-controls="home" role="tab" data-toggle="tab" class="resource_group_tab">NPs</a>

                                    </li>
                                    <li role="presentation">
                                        <a href="#5" aria-controls="home" role="tab" data-toggle="tab" class="resource_group_tab">Techs</a>

                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" id="3" class="tab-pane active">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <span class="label label-primary"></span>
                                                        <span class="label label-primary">2017-06-23</span>

                                                    </div>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" id="appointment_group_id">
                                                            <option value="1"></option>
                                                            <option value="2">Visits</option>
                                                            <option value="3">Test</option>
                                                            <option value="4">Procedures</option>
                                                            <option value="5">Same Day New Patients Seen</option>

                                                        </select>

                                                    </div>

                                                </div>
                                                        <tbody>
                                                        <tr>

                                                        </tr>
                                                        </tbody>
                                                        <tbody>
                                                        <tr>

                                                        </tr>
                                                        </tbody>
                                                        <tfoot>
                                                        <tr style="font-weight: bold;">
                                                            <td>Total</td>
                                                            <td>
                                                                <span class="badge"></span>
                                                            </td>
                                                            <td>
                                                                <span class="badge"></span>
                                                            </td>
                                                            <td>
                                                                <span class="badge"></span>
                                                            </td>
                                                            <td>
                                                                <span class="badge"></span>
                                                            </td>
                                                            <td>
                                                                <span class="badge"></span>
                                                            </td>

                                                        </tr>
                                                        </tfoot>

                                                    </table>


                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>Resource name</th>
                                                            <th>No. of slots</th>
                                                            <th>No. of schedule</th>
                                                            <th>Patients seen</th>
                                                            <th>Utilization</th>
                                                            <th>Schedule rate</th>
                                                            <th>Show rate</th>
                                                            <th>Reasons</th>
                                                        </tr>
                                                        </thead>
       </div>

                                            </div>

                                        </div>

                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>



    </div>
</body>
 <script>

        function loadReport(to_date, from_date, include_holidays, resource_group_id, appointment_group_id) {
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  //
                }
              };

              url = "/emr/api/get_reports/";

              xhttp.open("POST", url, true);
              xhttp.setRequestHeader("Content-Type", "application/json");
              xhttp.setRequestHeader("X-CSRFToken", "{% csrf_token %}");
              xhttp.send(JSON.stringify({to_date: to_date, from_date: from_date, include_holidays:include_holidays, resource_group_id:resource_group_id, appointment_group_id:appointment_group_id}));
        }

        document.getElementById('to_date').addEventListener('change', function(e){
                to_date = document.getElementById('to_date').value;
                from_date = document.getElementById('from_date').value;
                include_holidays = document.getElementById('include_holidays').value;
                resource_group_id =  3;
                appointment_group_id = document.getElementById('appointment_group_id').value;

                loadReport(to_date, from_date, include_holidays, resource_group_id, appointment_group_id);
        });
   </script>
</html>